<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MrCy.Properties.Settings.MrCyConnectionString" connectionString="Data Source=laptop-F655BS77;Initial Catalog=MrCy;Persist Security Info=True;User ID=ying;Password=newman123"
            providerName="System.Data.SqlClient" />
        <add name="MrCy.Properties.Settings.ConnectionString" connectionString="Data Source=D:\学习资料\computer\C#开发记录\餐饮管理系统\餐饮管理系统\bin\Debug\DB\MrCy.db"
            providerName="Devart.Data.SQLite" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
